# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints

*.hdf5
*.h5
*.tflite
*.pb
*.coreml
*.mlmodel
*.onnx
*.jpg
*.png
*.p
*.xlsx
**/*.caffemodel
**/*.tflite
**/*.tfrecords
**/*.tfrecord
**/*.MOV
**/*.mp4
**/.git
**/*.ckpt*
**/*.meta*
**/*.mat
**/*.csv
**/checkpoints/
**/results/